
.chat-container {
  width: clamp(200px, 70vw, 800px);
  height: 83vh;
  margin: 50px auto;
  padding: 0;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(254 215 170);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.chat-box {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 10px;
  height: 100%;
}

/* Zone d'entrée de message */
.input-area {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0;
}
.Welcome-Chat{
  margin: 10px 10px;
}
/* Message bot et utilisateur */
.message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  max-width: 75%;
  word-wrap: break-word;
}

.message.user {
  background-color: #d1ecf1;
  align-self: flex-end;
}

.message.bot {
  background-color: #f8d7da;
  align-self: flex-start;
}

/* Formulaire de saisie */
.chat-input-form {
  display: flex;
  width: 100%;
}

.chat-input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.btn-send {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-send:hover {
  background-color: #218838;
}

/* Message de bienvenue */
.welcome-message {
  font-weight: 500;
  line-height: 1.5;
  width: clamp(200px, 60vw, 500px);
  border: 1px solid #cc9297;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(136, 170, 201, 1) 14%, rgba(239, 242, 249, 1) 88%);
  padding: 5%;
}
